= form_for(resource, as: @user, url: session_path(@user)) do |f|
  .col-6.sign_form
    %h2 Log in
    .field
      = f.label :email
      %br/
      = f.email_field(:email, autofocus: true, class: 'form-control')
    .field
      = f.label :password
      %br/
      = f.password_field(:password, class: 'form-control')
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit('Log in', class: 'btn btn-primary')
    = render "users/shared/links"
