%nav.navbar-dark.bg-dark
  %span.navbar-brand.mb-0.h1 Online Game Store
.game-container.container
  .row
    .col-2.bg-primary
      = form_tag(games_path, :method => "get", id: "search-form") do
        = text_field_tag :search, params[:search], placeholder: "Search Games"
        %button{:name => "search", :type => "submit"}
          %i.fa.fa-search
    .col-10
      .row 
        - @games.each do |game|
          .col-lg-3.col-md-4.col-sm-6.game-element
            .row
              = image_tag(game.cover, size: '300x200') if game.cover.attached?
            .row.game-title
              = truncate(game.name, length: 20)
            .row.game-title
              = to_dollars(game.price)
      .row.justify-content-center
        != pagy_bootstrap_nav(@pagy)
