%h2 Change your password
= form_with scope: :user, local: true, url: user_parole_path, method: :patch do |f|
  .field
    = f.label :old_parole, "Old password"
    %br/
    = f.password_field :old_parole, autofocus: true
  .field
    = f.label :password, "New password"
    %br/
    = f.password_field :password, autofocus: true
  .field
    = f.label :password_confirmation, "Confirm new password"
    %br/
    = f.password_field :password_confirmation
  .actions
    %br/
    = f.submit "Change my password"
